<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        
        
        <link rel="shortcut icon" href="../../img/favicon.ico">
        <title>Views - My Odoo Documentation</title>
        <link href="../../css/bootstrap.min.css" rel="stylesheet">
        <link href="../../css/fontawesome.min.css" rel="stylesheet">
        <link href="../../css/brands.min.css" rel="stylesheet">
        <link href="../../css/solid.min.css" rel="stylesheet">
        <link href="../../css/v4-font-face.min.css" rel="stylesheet">
        <link href="../../css/base.css" rel="stylesheet">
        <link id="hljs-light" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/github.min.css" >
        <link id="hljs-dark" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/github-dark.min.css" disabled>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/highlight.min.js"></script>
        <script>hljs.highlightAll();</script> 
    </head>

    <body>
        <div class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
            <div class="container">
                <a class="navbar-brand" href="../..">My Odoo Documentation</a>
                <!-- Expander button -->
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Expanded navigation -->
                <div id="navbar-collapse" class="navbar-collapse collapse">
                        <!-- Main navigation -->
                        <ul class="nav navbar-nav">
                            <li class="nav-item">
                                <a href="../.." class="nav-link">Home</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"  aria-expanded="false">Setup</a>
                                <ul class="dropdown-menu">
                                    
<li>
    <a href="../../setup/install/" class="dropdown-item">Setting Up Odoo with Docker</a>
</li>
                                    
<li>
    <a href="../../setup/firsttimeuse/" class="dropdown-item">First-Time Setup</a>
</li>
                                    
<li>
    <a href="../../setup/vscsetup/" class="dropdown-item">Visual Studio Code Integration</a>
</li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle active" aria-current="page" role="button" data-bs-toggle="dropdown"  aria-expanded="false">Add-ons and Modules</a>
                                <ul class="dropdown-menu">
                                    
<li>
    <a href="../intro/" class="dropdown-item">Introduction to Add-ons and Modules</a>
</li>
                                    
<li>
    <a href="../scaffolding/" class="dropdown-item">Creating (Scaffolding) an Add-on</a>
</li>
                                    
<li>
    <a href="../models/" class="dropdown-item">Models</a>
</li>
                                    
<li>
    <a href="./" class="dropdown-item active" aria-current="page">Views</a>
</li>
                                </ul>
                            </li>
                        </ul>

                    <ul class="nav navbar-nav ms-md-auto">
                        <li class="nav-item">
                            <a href="#" class="nav-link" data-bs-toggle="modal" data-bs-target="#mkdocs_search_modal">
                                <i class="fa fa-search"></i> Search
                            </a>
                        </li>
                            <li class="nav-item">
                                <a rel="prev" href="../models/" class="nav-link">
                                    <i class="fa fa-arrow-left"></i> Previous
                                </a>
                            </li>
                            <li class="nav-item">
                                <a rel="next" class="nav-link disabled">
                                    Next <i class="fa fa-arrow-right"></i>
                                </a>
                            </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                    <div class="col-md-3"><div class="navbar-expand-md bs-sidebar hidden-print affix" role="complementary">
    <div class="navbar-header">
        <button type="button" class="navbar-toggler collapsed" data-bs-toggle="collapse" data-bs-target="#toc-collapse" title="Table of Contents">
            <span class="fa fa-angle-down"></span>
        </button>
    </div>

    
    <div id="toc-collapse" class="navbar-collapse collapse card bg-body-tertiary">
        <ul class="nav flex-column">
            
            <li class="nav-item" data-bs-level="1"><a href="#views" class="nav-link">Views</a>
              <ul class="nav flex-column">
            <li class="nav-item" data-bs-level="2"><a href="#the-__init__py-file-in-root" class="nav-link">The __init__.py file (in root)</a>
              <ul class="nav flex-column">
              </ul>
            </li>
            <li class="nav-item" data-bs-level="2"><a href="#the-viewsxml-file" class="nav-link">The views.xml file</a>
              <ul class="nav flex-column">
              </ul>
            </li>
            <li class="nav-item" data-bs-level="2"><a href="#creating-views" class="nav-link">Creating Views</a>
              <ul class="nav flex-column">
              </ul>
            </li>
            <li class="nav-item" data-bs-level="2"><a href="#creating-menu-items" class="nav-link">Creating Menu Items</a>
              <ul class="nav flex-column">
              </ul>
            </li>
            <li class="nav-item" data-bs-level="2"><a href="#allowing-permissions" class="nav-link">Allowing Permissions</a>
              <ul class="nav flex-column">
              </ul>
            </li>
            <li class="nav-item" data-bs-level="2"><a href="#seeing-changes" class="nav-link">Seeing Changes</a>
              <ul class="nav flex-column">
              </ul>
            </li>
              </ul>
            </li>
        </ul>
    </div>
</div></div>
                    <div class="col-md-9" role="main">

<h1 id="views">Views</h1>
<p>Let's go frontend with <strong>views</strong>! Simply put, they are pages pertaining to a module. A module can have many views that can display different layouts or how views are restricted to certain users.</p>
<p>In Odoo, these are defined in XML files rather than in HTML or any derivative of.</p>
<h2 id="the-__init__py-file-in-root">The <code>__init__.py</code> file (in root)</h2>
<p>Unlike the previous section, the <code>views</code> folder only consists of XML files without any manifests files. They are instead managed in the root <code>__manifest__.py</code> file of your module.</p>
<p>For a scaffolded model, a snippet of this manifest file is shown below:</p>
<pre><code class="language-python"># always loaded
'data': [
    # 'security/ir.model.access.csv',
    'views/views.xml',
    'views/templates.xml',
],
</code></pre>
<p>In the instance you'll implement more views (or XML files) within the <code>views</code> folder of your module, be sure to add these in your root <code>__manifest__.py</code> file of your module.</p>
<p>Sidenote, you can also notice the commented CSV file, which will be discussed in the next section.</p>
<p>From this point forward, we will be referring to the <code>views</code> folder of your module.</p>
<h2 id="the-viewsxml-file">The <code>views.xml</code> file</h2>
<p>Similar to the boilerplate <code>models.py</code> file that we discussed in the previous section, we'll also be working with this provided boilerplate file for our views. Of course, you can modularize your views and menu items in separate distinct XML files, but you should double-check the root <code>__manifest__.py</code> file to ensure that they are included!</p>
<p>Anyways, these views will always be defined inside an <code>&lt;odoo&gt;</code> tag along with closing it with an <code>&lt;/odoo&gt;</code> tag at the end of the XML file.</p>
<h2 id="creating-views">Creating Views</h2>
<p>A view comprises of this general syntax:</p>
<pre><code class="language-xml">&lt;record model=&lt;model_name&gt; id=&lt;view_id&gt;&gt;
    &lt;field name=&lt;field_name&gt; type=&lt;type&gt;
&lt;/record&gt;
</code></pre>
<p>In the <code>&lt;record&gt;</code> tag, both the <code>model</code> and <code>id</code> tags are required. The <code>id</code> tag is usually the name of a particular view </p>
<h3 id="the-model-attribute">The <code>model</code> attribute</h3>
<p>The following is a list that can be attributed in this attribute:</p>
<ul>
<li>
<p><code>ir.ui.view</code> - This is the model for views. It is used to define the view itself and is the most commonly used model.</p>
</li>
<li>
<p><code>ir.action.act_window</code> - This is the model for window actions (opening a model in a certain view)</p>
</li>
<li>
<p><code>ir.acti\ns.server</code> - This is the model for server-side actions (executing a Python function)</p>
</li>
<li>
<p><code>ir.actions.client</code> - This is the model for client-side actions (executing a JavaScript function)</p>
</li>
<li>
<p><code>ir.ui.menu</code> - Model for menu items</p>
</li>
<li>
<p><code>ir.model.access</code> - This is the model for access rights (like read/write/create/delete rules)</p>
</li>
</ul>
<p>The first two are the most commonly used for creating views.</p>
<h3 id="finally-creating-a-view">(Finally) Creating a View</h3>
<p>From our <code>teacher</code> model example, we want to create a list view. This view will be then having the model <code>ir.ui.view</code> and the <code>id</code> as <code>teacher_tree_view</code>. The field names are respective of the attributes we defined in the previous section.</p>
<pre><code class="language-xml">&lt;record id=&quot;teacher_tree_view&quot; model=&quot;ir.ui.view&quot;&gt;
    &lt;field name=&quot;name&quot;&gt;teacher.teacher.list&lt;/field&gt;
    &lt;field name=&quot;model&quot;&gt;teacher.teacher&lt;/field&gt;
    &lt;field name=&quot;arch&quot; type=&quot;xml&quot;&gt;
        &lt;tree string=&quot;Teacher List&quot;&gt;
            &lt;field name=&quot;employee_ID&quot;/&gt;
            &lt;field name=&quot;lname&quot;/&gt;
            &lt;field name=&quot;fname&quot;/&gt;
            &lt;field name=&quot;mname&quot;/&gt;
            &lt;field name=&quot;title&quot;/&gt;
            &lt;field name=&quot;college&quot;/&gt;
            &lt;field name=&quot;department&quot;/&gt;
        &lt;/tree&gt;
    &lt;/field&gt;
&lt;/record&gt;
</code></pre>
<p>Afterwards, we want to create a form view for this model as well where new data can be inputted,</p>
<pre><code class="language-xml">&lt;record id=&quot;teacher_form_view&quot; model=&quot;ir.ui.view&quot;&gt;
    &lt;field name=&quot;name&quot;&gt;teacher.teacher.form&lt;/field&gt;
    &lt;field name=&quot;model&quot;&gt;teacher.teacher&lt;/field&gt;
    &lt;field name=&quot;arch&quot; type=&quot;xml&quot;&gt;
        &lt;form string=&quot;Teacher Form&quot;&gt;
            &lt;sheet&gt;
                &lt;group&gt;
                    &lt;group&gt;
                        &lt;field name=&quot;fname&quot;/&gt;
                        &lt;field name=&quot;mname&quot;/&gt;
                        &lt;field name=&quot;lname&quot;/&gt;
                        &lt;field name=&quot;gender&quot;/&gt;
                    &lt;/group&gt;
                    &lt;group&gt;
                        &lt;field name=&quot;employee_ID&quot;/&gt;
                        &lt;field name=&quot;title&quot;/&gt;
                        &lt;field name=&quot;college&quot;/&gt;
                        &lt;field name=&quot;department&quot;/&gt;
                    &lt;/group&gt;
                &lt;/group&gt;
            &lt;/sheet&gt;
        &lt;/form&gt;
    &lt;/field&gt;
&lt;/record&gt;
</code></pre>
<h3 id="creating-action-opening-views-on-models">Creating Action Opening Views on Models</h3>
<p>To open the views we created, we need to create an action that will open the list view. This is done with the <code>ir.actions.act_window</code> model.</p>
<pre><code class="language-xml">&lt;record id=&quot;action_teacher_list&quot; model=&quot;ir.actions.act_window&quot;&gt;
    &lt;field name=&quot;name&quot;&gt;Teacher&lt;/field&gt;
    &lt;field name=&quot;res_model&quot;&gt;teacher.teacher&lt;/field&gt;
    &lt;field name=&quot;type&quot;&gt;ir.actions.act_window&lt;/field&gt;
    &lt;field name=&quot;view_mode&quot;&gt;tree,form&lt;/field&gt;
&lt;/record&gt;
</code></pre>
<h2 id="creating-menu-items">Creating Menu Items</h2>
<h3 id="the-root-menu-item">The Root Menu Item</h3>
<p>The root menu item is what appears in the Home Menu found in the top-left corner of our Odoo instance. This is done with the use of a <code>&lt;menuitem /&gt;</code> tag with a required <code>id</code>, <code>name</code> and <code>sequence</code> attribute.</p>
<p>This menu item is uniquely identified with its <code>id</code> attribute appended with a <code>_root</code> suffix.</p>
<p>For instance in our <code>teacher</code> model that we scaffolded,</p>
<pre><code class="language-xml">&lt;menuitem id=&quot;teacher_menu_root&quot;
    name=&quot;Teacher&quot;
    sequence=&quot;10&quot;/&gt;
</code></pre>
<p>You can also uncomment the following line in the scaffolded model, lines 43-46:</p>
<pre><code class="language-xml">    &lt;!-- Top menu item --&gt;
&lt;!--
    &lt;menuitem name=&quot;teacher&quot; id=&quot;teacher.menu_root&quot;/&gt;
--&gt;
</code></pre>
<blockquote>
<h3 id="i-note"><strong><code>ｉ</code> Note</strong></h3>
<p>In the XML file, <strong>the view must come first before the menu item</strong>; <code>&lt;record&gt;</code> before <code>&lt;menuitem&gt;</code>. Think of it as like defining functions in C first before calling them in <code>main()</code>.</p>
</blockquote>
<h2 id="allowing-permissions">Allowing Permissions</h2>
<p>In order for the views and menu items to be accessible by you, we go back to the <code>__manifest__.py</code> file,</p>
<pre><code class="language-python"># always loaded
'data': [
    # 'security/ir.model.access.csv',
    'views/views.xml',
    'views/templates.xml',
],
</code></pre>
<p>Notice where one of them is commented, <code>'security/ir.model.access.csv'</code>. This CSV file dictates permissions for the views and menu items which will be discussed in another section.</p>
<p>For now, simply uncomment <code>'security/ir.model.access.csv'</code> from <code>__manifest__.py</code> of the root of the module so that we can see it appear as a navigatable menu item from the top-left corner of our navigation bar.</p>
<h2 id="seeing-changes">Seeing Changes</h2>
<p>Just like in <a href="../models.md#checking-models">Checking Models</a>, you need to restart Odoo in order to see the changes made to your module. After restarting, upgrade the module. You should be either directed to the view of your module or see it in the menu found in the top-left corner of the navigation bar.
<img alt="Screenshot" src="../../img/rootmenumodule.png" /></p></div>
            </div>
        </div>

        <footer class="col-md-12">
            <hr>
            <p>Documentation built with <a href="https://www.mkdocs.org/">MkDocs</a>.</p>
        </footer>
        <script src="../../js/bootstrap.bundle.min.js"></script>
        <script>
            var base_url = "../..",
                shortcuts = {"help": 191, "next": 78, "previous": 80, "search": 83};
        </script>
        <script src="../../js/base.js"></script>
        <script src="../../search/main.js"></script>

        <div class="modal" id="mkdocs_search_modal" tabindex="-1" role="dialog" aria-labelledby="searchModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="searchModalLabel">Search</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>From here you can search these documents. Enter your search terms below.</p>
                <form>
                    <div class="form-group">
                        <input type="search" class="form-control" placeholder="Search..." id="mkdocs-search-query" title="Type search term here">
                    </div>
                </form>
                <div id="mkdocs-search-results" data-no-results-text="No results found"></div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div><div class="modal" id="mkdocs_keyboard_modal" tabindex="-1" role="dialog" aria-labelledby="keyboardModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="keyboardModalLabel">Keyboard Shortcuts</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <table class="table">
                <thead>
                  <tr>
                    <th style="width: 20%;">Keys</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="help shortcut"><kbd>?</kbd></td>
                    <td>Open this help</td>
                  </tr>
                  <tr>
                    <td class="next shortcut"><kbd>n</kbd></td>
                    <td>Next page</td>
                  </tr>
                  <tr>
                    <td class="prev shortcut"><kbd>p</kbd></td>
                    <td>Previous page</td>
                  </tr>
                  <tr>
                    <td class="search shortcut"><kbd>s</kbd></td>
                    <td>Search</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

    </body>
</html>
